header {
  margin-bottom: 64px;
}

h1 {
  font-family: "Inconsolata", sans-serif;
  text-align: center;
  font-size: 48px;
  color: rgb(25, 200, 188);
  margin: 12px;
}

a {
  padding: 12px 48px;
  font-family: "Inconsolata", sans-serif;
  background-color: aquamarine;
  color: rgb(89, 89, 89);
  border: 1px solid rgb(0, 152, 68);
  border-radius: 4px;
  font-size: 15px;
}

#description {
  margin: 12px 0;
}

a:hover {
  text-decoration: none;
}
ol {
  font-family: "Inconsolata", sans-serif;
  font-weight: light;
  list-style: none;
  width: 500px;
  margin: 36px auto 0 auto;
  padding: 0;
}

li {
  padding: 16px;
  margin: 32px;
  background-color: rgb(255, 253, 253);
  border-radius: 6px;
  box-shadow: 5px 5px 5px rgb(55, 177, 169);
}

main p {
  margin: 12px;
  color: rgb(0, 152, 68);
}

.highlight-goal {
  margin: 12px;
  color: rgb(0, 152, 68);
}
