body {
  background-color: rgb(245, 243, 246);
  text-align: center;
}

h2 {
  font-family: "Inconsolata", sans-serif;
  text-align: center;
  color: rgb(25, 200, 188);
  font-size: bold;
}

p {
  font-family: "Inconsolata", sans-serif;
  text-align: center;
  color: rgb(66, 66, 66);
}

#todays-challenge {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: bold;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 0px;
}
